body {
  overflow: hidden; }

.holder {
  width: 500px;
  height: 250px;
  position: relative; }
  .holder .circle {
    border-radius: 100% 100% 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center; }
    .holder .circle:nth-child(1) {
      border-radius: 25px 25px 0 0;
      width: 25px;
      height: 12.5px;
      background: black;
      border-bottom: none;
      z-index: 15;
      -webkit-animation: circle-1 20s infinite ease-in-out;
      animation: circle-1 20s infinite ease-in-out; }
@keyframes circle-1 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(360deg);
    -webkit-transform: translateX(-50%) rotate(360deg); } }
@-webkit-keyframes circle-1 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(360deg);
    -webkit-transform: translateX(-50%) rotate(360deg); } }
    .holder .circle:nth-child(2) {
      border-radius: 31px 31px 0 0;
      width: 31px;
      height: 15.5px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 14;
      -webkit-animation: circle-2 20s infinite ease-in-out;
      animation: circle-2 20s infinite ease-in-out; }
@keyframes circle-2 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(720deg);
    -webkit-transform: translateX(-50%) rotate(720deg); } }
@-webkit-keyframes circle-2 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(720deg);
    -webkit-transform: translateX(-50%) rotate(720deg); } }
    .holder .circle:nth-child(3) {
      border-radius: 62px 62px 0 0;
      width: 62px;
      height: 31px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 13;
      -webkit-animation: circle-3 20s infinite ease-in-out;
      animation: circle-3 20s infinite ease-in-out; }
@keyframes circle-3 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(1080deg);
    -webkit-transform: translateX(-50%) rotate(1080deg); } }
@-webkit-keyframes circle-3 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(1080deg);
    -webkit-transform: translateX(-50%) rotate(1080deg); } }
    .holder .circle:nth-child(4) {
      border-radius: 93px 93px 0 0;
      width: 93px;
      height: 46.5px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 12;
      -webkit-animation: circle-4 20s infinite ease-in-out;
      animation: circle-4 20s infinite ease-in-out; }
@keyframes circle-4 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(1440deg);
    -webkit-transform: translateX(-50%) rotate(1440deg); } }
@-webkit-keyframes circle-4 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(1440deg);
    -webkit-transform: translateX(-50%) rotate(1440deg); } }
    .holder .circle:nth-child(5) {
      border-radius: 124px 124px 0 0;
      width: 124px;
      height: 62px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 11;
      -webkit-animation: circle-5 20s infinite ease-in-out;
      animation: circle-5 20s infinite ease-in-out; }
@keyframes circle-5 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(1800deg);
    -webkit-transform: translateX(-50%) rotate(1800deg); } }
@-webkit-keyframes circle-5 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(1800deg);
    -webkit-transform: translateX(-50%) rotate(1800deg); } }
    .holder .circle:nth-child(6) {
      border-radius: 155px 155px 0 0;
      width: 155px;
      height: 77.5px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 10;
      -webkit-animation: circle-6 20s infinite ease-in-out;
      animation: circle-6 20s infinite ease-in-out; }
@keyframes circle-6 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(2160deg);
    -webkit-transform: translateX(-50%) rotate(2160deg); } }
@-webkit-keyframes circle-6 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(2160deg);
    -webkit-transform: translateX(-50%) rotate(2160deg); } }
    .holder .circle:nth-child(7) {
      border-radius: 186px 186px 0 0;
      width: 186px;
      height: 93px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 9;
      -webkit-animation: circle-7 20s infinite ease-in-out;
      animation: circle-7 20s infinite ease-in-out; }
@keyframes circle-7 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(2520deg);
    -webkit-transform: translateX(-50%) rotate(2520deg); } }
@-webkit-keyframes circle-7 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(2520deg);
    -webkit-transform: translateX(-50%) rotate(2520deg); } }
    .holder .circle:nth-child(8) {
      border-radius: 217px 217px 0 0;
      width: 217px;
      height: 108.5px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 8;
      -webkit-animation: circle-8 20s infinite ease-in-out;
      animation: circle-8 20s infinite ease-in-out; }
@keyframes circle-8 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(2880deg);
    -webkit-transform: translateX(-50%) rotate(2880deg); } }
@-webkit-keyframes circle-8 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(2880deg);
    -webkit-transform: translateX(-50%) rotate(2880deg); } }
    .holder .circle:nth-child(9) {
      border-radius: 248px 248px 0 0;
      width: 248px;
      height: 124px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 7;
      -webkit-animation: circle-9 20s infinite ease-in-out;
      animation: circle-9 20s infinite ease-in-out; }
@keyframes circle-9 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(3240deg);
    -webkit-transform: translateX(-50%) rotate(3240deg); } }
@-webkit-keyframes circle-9 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(3240deg);
    -webkit-transform: translateX(-50%) rotate(3240deg); } }
    .holder .circle:nth-child(10) {
      border-radius: 279px 279px 0 0;
      width: 279px;
      height: 139.5px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 6;
      -webkit-animation: circle-10 20s infinite ease-in-out;
      animation: circle-10 20s infinite ease-in-out; }
@keyframes circle-10 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(3600deg);
    -webkit-transform: translateX(-50%) rotate(3600deg); } }
@-webkit-keyframes circle-10 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(3600deg);
    -webkit-transform: translateX(-50%) rotate(3600deg); } }
    .holder .circle:nth-child(11) {
      border-radius: 310px 310px 0 0;
      width: 310px;
      height: 155px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 5;
      -webkit-animation: circle-11 20s infinite ease-in-out;
      animation: circle-11 20s infinite ease-in-out; }
@keyframes circle-11 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(3960deg);
    -webkit-transform: translateX(-50%) rotate(3960deg); } }
@-webkit-keyframes circle-11 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(3960deg);
    -webkit-transform: translateX(-50%) rotate(3960deg); } }
    .holder .circle:nth-child(12) {
      border-radius: 341px 341px 0 0;
      width: 341px;
      height: 170.5px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 4;
      -webkit-animation: circle-12 20s infinite ease-in-out;
      animation: circle-12 20s infinite ease-in-out; }
@keyframes circle-12 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(4320deg);
    -webkit-transform: translateX(-50%) rotate(4320deg); } }
@-webkit-keyframes circle-12 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(4320deg);
    -webkit-transform: translateX(-50%) rotate(4320deg); } }
    .holder .circle:nth-child(13) {
      border-radius: 372px 372px 0 0;
      width: 372px;
      height: 186px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 3;
      -webkit-animation: circle-13 20s infinite ease-in-out;
      animation: circle-13 20s infinite ease-in-out; }
@keyframes circle-13 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(4680deg);
    -webkit-transform: translateX(-50%) rotate(4680deg); } }
@-webkit-keyframes circle-13 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(4680deg);
    -webkit-transform: translateX(-50%) rotate(4680deg); } }
    .holder .circle:nth-child(14) {
      border-radius: 403px 403px 0 0;
      width: 403px;
      height: 201.5px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 2;
      -webkit-animation: circle-14 20s infinite ease-in-out;
      animation: circle-14 20s infinite ease-in-out; }
@keyframes circle-14 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(5040deg);
    -webkit-transform: translateX(-50%) rotate(5040deg); } }
@-webkit-keyframes circle-14 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(5040deg);
    -webkit-transform: translateX(-50%) rotate(5040deg); } }
    .holder .circle:nth-child(15) {
      border-radius: 434px 434px 0 0;
      width: 434px;
      height: 217px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 1;
      -webkit-animation: circle-15 20s infinite ease-in-out;
      animation: circle-15 20s infinite ease-in-out; }
@keyframes circle-15 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(5400deg);
    -webkit-transform: translateX(-50%) rotate(5400deg); } }
@-webkit-keyframes circle-15 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(5400deg);
    -webkit-transform: translateX(-50%) rotate(5400deg); } }
    .holder .circle:nth-child(16) {
      border-radius: 465px 465px 0 0;
      width: 465px;
      height: 232.5px;
      border: 13px solid black;
      border-bottom: none;
      z-index: 0;
      -webkit-animation: circle-16 20s infinite ease-in-out;
      animation: circle-16 20s infinite ease-in-out; }
@keyframes circle-16 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(5760deg);
    -webkit-transform: translateX(-50%) rotate(5760deg); } }
@-webkit-keyframes circle-16 {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) rotate(5760deg);
    -webkit-transform: translateX(-50%) rotate(5760deg); } }

/*# sourceMappingURL=style.css.map */
